/* phone please note that I have not scaled the font */
@media only screen and (max-width: 438px) {

  nav {
    background-color: #D89820;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }

  .profile-header {
    width: 100%;
  }

  .nav-redirect {
    display: none;
  }
  .redirect-button {
    width: 50px;
    height: 50px;
  }
  html {
    font-size: 8px;
  }
}
/* tablet */
@media only screen and (min-width: 438px) and (max-width: 1023px) {
  nav {
    background-color: #D89820;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }

  .profile-header {
    width: 100%;
  }
  .redirect-button {
    width: 50px;
    height: 50px;
  }
  .nav-redirect {
    display: inline;
  }
}
/* desktop */
@media only screen and (min-width: 1024px){
  .change-layout {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
  }

  .profile-header {
    position: sticky;
    top: 100px;
    margin: 2%;
  }
  .container {
    margin-left: 2%;
  }

  /* ultrawide */
  @media only screen and (min-width: 2560px) {
    .change-layout {
      width: 50%
    }
  }
}